body {
    background-color: rgb(255, 255, 255) !important;
}
#nav-menu {
    background-color: #97d9f1 !important;
}
#home-img-log img {
    width: 50%;
}
.brand-logo {
    width: 70px;
}
.banner-section {
    /* background-color: hsl(252, 33%, 97%) !important; */
    /* background-color: #e9f6fa !important; */
    /* background-color: #a5b4be !important; */
    /* background-color: #97d9f1 !important; */
    background-image: linear-gradient(
        to right,
        rgb(246, 242, 242),
        #82c0d1
    ) !important;
    /* background-image: linear-gradient(to right, rgb(246, 242, 242), #e5e583) !important; */
    /* background-image: linear-gradient(to right, rgb(246, 242, 242), #2255bb) !important; */
    /* height: 100vh; */
    padding-top: 100px;
}
#card-body-homepage {
    background-color: #f9f9fc !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
#icon-badge {
    background-color: #31a4c3 !important;
}
#search-icon-homepage {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
        rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.counter-area {
    /* background: linear-gradient(180deg,#f5f4fa,rgba(251,251,253,0)); */
    background-image: linear-gradient(
        to right,
        rgb(246, 242, 242),
        #82c0d1
    ) !important;
    /* background-image: linear-gradient(to right, rgb(246, 242, 242), #e5e583) !important; */
}
.bannerImg img {
    position: relative;
    bottom: 50%;
    margin: 100px;
}
.featurejob-area {
    background-color: hsl(252, 33%, 97%) !important;
    /* background-color: #e9f6fa !important; */
}
.catagory-area {
    /* background-color: hsl(252, 33%, 97%) !important; */
    background-color: #bfdae4 !important;
}
.working-process {
    /* background-color: hsl(252, 33%, 97%) !important; */
    background-color: #e9f6fa !important;
}
.header {
    background-color: rgb(255, 255, 255) !important;
}
.most-popular-wrap {
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    padding: 10px;
    margin-top: 7px;
    padding-left: 7px;
    background-color: hsl(252, 33%, 97%) !important;
}
.most-popular-wrap:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#login-row {
    /* background: #31a4c3;
       background: linear-gradient(45deg, #31a4c3, #ef459b); */
    background-image: linear-gradient(
        to right,
        rgb(250, 250, 250),
        #35c8f0
    ) !important;
}
#login-form {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: 600px;
}
#login_form > h4 {
    color: rgb(59, 58, 58) !important ;
    font-size: x-large;
    text-align: center;
}

#img-login-logo {
    max-width: 100%;
    height: auto;
    position: relative;
    top: 15%;
    left: 36%;
}
#img-login-logo > img {
    width: 130px;
    /* border: 2px solid #fff;
    padding: 20px;
    background-color: #fff;
    border-radius: 40px; */
}

@media (max-width: 576px) {
    #img-login-logo {
        max-width: 100%;
        height: 130px;
        margin-left: -10px;
    }
    #login-form {
        height: 650px;
    }
}
/* #popular-brand{
    border: 1px solid transparent;
    margin:15px;
    background-color:rgb(231, 238, 244)
}
#popular-brand #most-popular-item:hover{
    cursor: pointer!important;
    background-color: #f9f9fc;
} */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltiptext {
    visibility: hidden;
    position: absolute;
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
